$mainColor: #3b833b;
$subColor: #707070;
$sub2Color: #494848;
.container-resume {
  section {
    padding: 20px;
    border-bottom: thin solid $subColor;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .main-name {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 4rem;
  }
  .sub-name {
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }
  .main-color {
    color: $mainColor !important;
  }
  .sub-color {
    color: $subColor !important;
  }
  .sub2-color {
    color: $sub2Color !important;
  }
  .bg-main-color {
    background-color: $mainColor !important;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > * {
      margin-top: 20px;
    }
    .skill-icon {
      transform: translateY(0);
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      &:hover {
        transform: translateY(-10px);
      }
      font-size: 4em;
    }
  }

  margin: auto;
  @media (min-width: 992px) {
    margin: 0px 20%;
  }
}

@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
