$mainColor: #3b833b !important;
$subColor: #707070 !important;
$sub2Color: #494848 !important;

$mainDarkColor: #61ad61 !important;
$subDarkColor: #d6d6d6 !important;
$sub2DarkColor: #fbfbfb !important;
$darkColor : #202020;
body {
  &.dark-mode {
    background-color: $darkColor;
  }
  transition: all 1s ease-in-out;
}
.logo-img{
  &.dark-mode{
    background-color: $darkColor !important;
  }
  transition: all 1s ease-in-out;
}
.container-resume {
  section {
    padding: 20px;
    border-bottom: thin solid $subColor;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
  .main-name {
    font-family: "Titillium Web", sans-serif;
    font-weight: 700;
    font-size: 4rem;
  }
  .sub-name {
    font-family: "Cabin Condensed", sans-serif;
    font-weight: 600;
    font-size: 1rem;
  }
  .main-color {
    color: $mainColor;
  }
  .sub-color {
    color: $subColor;
  }
  .sub2-color {
    color: $sub2Color;
  }
  .bg-main-color {
    background-color: $mainColor;
  }
  .icon-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    > * {
      margin-top: 20px;
    }
    .skill-icon {
      transform: translateY(0);
      transition-duration: 0.5s;
      transition-timing-function: ease-in-out;
      &:hover {
        transform: translateY(-10px);
      }
      font-size: 4em;
    }
  }
  .half-hr {
    border-bottom: thin solid $subColor;
  }

  margin: auto;
  @media (min-width: 992px) {
    margin: 0px 20%;
  }
  &.dark-mode {
    .vue-typer .custom.char.typed {
      color: $sub2DarkColor;
    }
    .main-color {
      color: $mainDarkColor;
    }
    .sub-color {
      color: $subDarkColor;
    }
    .sub2-color {
      color: $sub2DarkColor;
    }
    .bg-main-color {
      background-color: $mainDarkColor;
    }
  }
  transition: all 1s ease-in-out;
}

.black-color {
  color: $darkColor !important;
}
